@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">@TempData["SuccessMessage"]</div>
}

<form method="post" action="/Account/Login">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" name="username" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="password">Parol</label>
        <input type="password" name="password" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>
<p><a href="/Account/Register">Ro‘yxatdan o‘tish</a></p>
<p><a href="/Account/ForgotPassword">Parolni unutdingizmi?</a></p>