@{
    ViewData["Title"] = "BOSH MENYU";
}

<div class="text-center">
    <h1 class="display-1">XUSH KELIBSIZ</h1>
    <p>Sayt admini bilan bog'lanmoqchi bo'lsangiz <a href="https://t.me/koinotdaman">telegramdamiz</a>.</p>
</div>
